* {
  transition: all 0.5s;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navBar {
  background: #250048;
  padding: max(2vh, 1vw);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.navItems {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 3vw;
}
table {
  align-items: center;
  margin-bottom: 20px;
  border: 5px solid #fff;
  border-bottom-width: 3px;
  border-collapse: collapse;
  outline: 3px solid #ffd300;
  font-size: 15px;
  background: #fff !important;
}
th {
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 7px;
  background: #ffd300;
  border: none;
  font-size: 15px;
  border-bottom: 3px solid #ffd300;
}
table td {
  border-right: 1px solid blanchedalmond;
  text-align: center;
  padding: 10px 7px 7px;
  font-size: 15px;
}
table tbody tr:nth-child(even) {
  background: #f8f8f8 !important;
}
.redirectBtn {
  border: none;
  background: lavender;
  border-radius: 20px;
  cursor: pointer;
  width: 100px;
  height: 50px;
}
.redirectBtn:hover {
  background: #9898e0;
  box-shadow: #9898e0 0 0 20px 0;
}
.logoBtn {
  margin-right: 10%;
  background: none;
  cursor: pointer;
  border: none;
}
.logoImg {
  max-width: 200px;
  width: 100%;
  height: 90px;
  filter: invert(1);
}
